#lighthouseimages {
  position: relative; }
  #lighthouseimages img {
    left: 0px;
    top: 0px;
    display: none; }
    #lighthouseimages img.active {
      display: block; }

#lighthousecaptions {
  position: relative; }
  #lighthousecaptions p {
    display: none; }
    #lighthousecaptions p.active {
      display: inline; }
