#lighthouseimages {
	position: relative;
	img {
		left: 0px;
		top: 0px;
		display: none;
		&.active {
			display: block;
		}
	}
}

#lighthousecaptions {
	position: relative;
	p {
		display: none;
		&.active {
			display: inline;
		}
	}
}